@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=M+PLUS+Rounded+1c&family=Noto+Sans&family=Nunito:ital@1&family=Permanent+Marker&family=Roboto+Slab:wght@300&family=Titillium+Web:ital,wght@1,300&display=swap");

* {
  box-sizing: border-box;
  font-family: lato;
}

:root {
  --color-blue: #536dfe;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

/* Navigation */

.navbar {
  display: flex;
  justify-content: space-evenly;
  padding: 0 2rem;
  text-align: center;
  margin-bottom: 30px;
}

.links {
  padding-top: 22px !important;
}

.links a {
  padding: 10px;
  font-size: 18px;
  text-decoration: none;
  font-family: lato;
  font-weight: bold !important;
}
.nav-link__black {
  position: relative;
}

.nav-link__black::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: #18272f;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.nav-link__black:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.personal_logo {
  color: var(--color-blue);
  font-family: Lato;
}

.nav-link__black {
  color: #242424;
}

.nav-link__blue {
  background-color: var(--color-blue);
  color: #fff;
  border-radius: 30px;
  transition: background-color 300ms ease;
}

.nav-link__blue:hover {
  background-color: rgb(104, 120, 215);
}

/*About me */

.about-me__info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 150px;
  text-align: center;
}

.about-me__info--picture {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  object-fit: cover;
  box-shadow: 8px 9px 10px rgba(0, 0, 0, 0.3);
}

.about-me__info--title {
  font-weight: bold;
  font-size: 2.3rem;
}

.text__blue {
  color: var(--color-blue);
}

.about-me__info--para {
  width: 300px;
  font-size: 1.5rem;
  font-weight: 600;
}

.about-me__info--links {
  margin-bottom: 30px;
}

.about-me__info--links a {
  margin: 0 10px;
}

.about-me__info--links .linkedin i {
  font-size: 30px;
  color: #242424;
}

.about-me__info--links .email i {
  font-size: 30px;
  color: #242424;
}

.about-me__info--links .pdf i {
  font-size: 30px;
  color: #242424;
}

.about-me__img {
  display: block;
  margin: 0 auto;
}

.skills-container {
  background-color: whitesmoke;
  padding-bottom: 15px;
}

.my-skillset {
  font-weight: bold;
  margin-top: 0;
  padding: 10px;
}

.skills__row {
  text-align: center;
}

.my-skillset::after {
  content: "";
  margin-top: 30px !important;
  margin: 0 auto;
  display: block;
  height: 2px;
  width: 70px;
  background-color: #b4b4b4;
  margin-top: 5px;
}

.skills-content {
  margin-left: 300px;
  max-width: 800px;
  margin: 0 auto;
}

.skill {
  display: inline;
  font-size: 18px;
  margin: 10px;
}

.skills-content--skill {
  margin: 20px 0;
}

.contact-info > h1::after {
  content: "";
  margin-top: 30px !important;
  margin: 0 auto;
  display: block;
  height: 2px;
  width: 70px;
  background-color: #b4b4b4;
  margin-top: 5px;
}

.contact-info {
  text-align: center;
}

.contact__form {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f7f7f7;
  margin-bottom: 20px;
  box-shadow: 5px 7px 12px rgba(0, 0, 0, 0.3);
}

.contact__form input,
.contact__form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.contact__form textarea {
  resize: vertical;
}

.contact__form input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
}

.contact__form input[type="submit"]:hover {
  background-color: #0056b3;
}

.contact__form textarea {
  resize: none;
}

.footer__row {
  text-align: center;
  padding: 30px;
  background-color: #18272f;
}

.footer__row * {
  color: white;
}

.footer__anchor {
  text-decoration: none;
  font-size: 30px;
  color: white;
}

.footer__social--lists {
  padding: 30px;
  display: flex;
  justify-content: space-evenly;
}

.footer__social--lists a {
  text-decoration: none;
  color: white;
}

.footer__social--lists a {
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: #54b3d6;
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.footer__social--lists a:hover {
  box-shadow: inset 100px 0 0 0 #54b3d6;
  color: white;
}

@media (max-width: 768px) {
  .about-me__img {
    width: 300px;
  }

  .skills-content {
    margin-left: 10px;
  }
}

@keyframes grow {
  from {
    transform: scale(0.2);
  }

  to {
    transform: scale(1);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(60deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

@keyframes comeFromLeft {
  from {
    opacity: 0.5;
    transform: translateX(-300px);
  }
  to {
    transform: translateX(0);
  }
}

.hand {
  display: inline-block;
  animation: rotate 2s ease-in-out infinite;
}

.about-me__info--picture {
  animation: grow 600ms ease-in-out;
}

.about-me__img {
  animation: comeFromLeft 1.2s ease-in-out;
}
